# Week 2 - Controlling the flow and pace of your code

#### The following play critical roles:  
1. Indentation - running blocks of code.
2. Time Delays - pacing the speed of our code.
3. For Loops - iterating through data
4. Data iteration with ```List Comprehension```
5. For Loops through multiple but related lists

## 1. Indentation

* Python is unique in requiring indentations.
* Indentations signify the start and end of code that belongs together (code blocks).
* Without proper indentation, your code won't do what you expect.
* Not working as expected? Check if you have indented correctly!

### Basic Flow Example: A Counter

In [3]:
## Using a While loop build a counter that counts from 1 to 5.
## Print the counter numbers in statement that reads "The count is" whatever the count is.
## Once it reaches 5, it should print "Done counting to 5!"
counter = 1
while counter <= 5:
    print (f"The count is {counter}")
    counter = counter + 1
print("Done counting to 5!")

The count is 1
The count is 2
The count is 3
The count is 4
The count is 5
Done counting to 5!

### You just controlled flow using indentation and a while loop.

(<a href="https://docs.google.com/presentation/d/1ZsrzpQHTXK35pd3io8rwQUX10rBHf1T9iYz_SaqbhQo/edit?usp=sharing">slides</a>)

## How fast does our code run?

In [4]:
## import a package that keeps time
import datetime as dt

In [6]:
## loop through with time keeping
counter = 1
while counter <= 5:
    current_time = dt.datetime.now()
    print (f"The count is {counter} at extactly {current_time}")
    counter = counter + 1
print("Done counting to 5!")

The count is 1 at extactly 2023-08-28 16:27:25.353538
The count is 2 at extactly 2023-08-28 16:27:25.354353
The count is 3 at extactly 2023-08-28 16:27:25.354407
The count is 4 at extactly 2023-08-28 16:27:25.354454
The count is 5 at extactly 2023-08-28 16:27:25.354499
Done counting to 5!

## 2. Time Delays

**Delay timers** are critical when scraping data from websites for several reasons. The **two** most important reasons are:

1. Sometimes your scraper clicks on links and must wait for the content to actually populated on the new page. Your script is likely to run faster than a page can load.


2. You don't want your scraper to be mistaken for a hostile attack on a server. You have to slow down the scrapes.

### Step 1 - Import required libraries

In [8]:
# time is required. we will use its sleep function
import time

#### Let's add a 5-second delay:

In [9]:
## A DELAY

counter = 1
while counter <= 5:
    current_time = dt.datetime.now()
    print (f"The count is {counter} at extactly {current_time}")
    counter = counter + 1
    time.sleep(5)
print("Done counting to 5!")

The count is 1 at extactly 2023-08-28 16:29:50.515603
The count is 2 at extactly 2023-08-28 16:29:55.521295
The count is 3 at extactly 2023-08-28 16:30:00.524088
The count is 4 at extactly 2023-08-28 16:30:05.529982
The count is 5 at extactly 2023-08-28 16:30:10.533388
Done counting to 5!

### Randomize

Software that tracks traffic to a server might grow suspicious about a hit every nth seconds.

Let's **randomize** the time between hits by using ```randint``` from the ```random``` library.


You might sometimes see me use ```randrange``` from the ```random``` library: ``` from random import randrange```.

#### What's the difference?

**Difference 1**

```randrange``` is exclusive of the final range value.

```randint``` is inclusive of the final range value.

**Difference 2**

```randrange``` allows you to add a step: ```randrange(start, end, step)```

```randint ``` only has start and end: ```randint(start, end)```

In [14]:
# import randint necessary library
from random import randint 
randint (30,45)

41

In [23]:
## import RANDRANGE necessary library
from random import randrange 
randrange(1,12,)

2

In [26]:
# RANDOMIZE THE OUR WAIT TIME

counter = 1
while counter <= 5:
    current_time = dt.datetime.now()
    snoozer = randint(3,9)
    print (f"The count is {counter} at extactly {current_time}")
    counter = counter + 1
    print(f"Let's sleeps for {snoozer} seconds")
    time.sleep(snoozer)
print("Done counting to 5!")

The count is 1 at extactly 2023-08-28 16:36:41.609496
Let's sleeps for 8 seconds
The count is 2 at extactly 2023-08-28 16:36:49.612019
Let's sleeps for 4 seconds
The count is 3 at extactly 2023-08-28 16:36:53.616994
Let's sleeps for 8 seconds
The count is 4 at extactly 2023-08-28 16:37:01.620875
Let's sleeps for 5 seconds
The count is 5 at extactly 2023-08-28 16:37:06.623473
Let's sleeps for 3 seconds
Done counting to 5!

# 3. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [ ]:
## FOR LOOP through this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [ ]:
##call the temporary variable

In [ ]:
## name dog lucy

In [ ]:
## you can target an individual item

In [ ]:
## a for loop allows you to target individual items in a list

In [ ]:
## this will break

Let's take **For Loops** for test drive:

In [ ]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [ ]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."

In [ ]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI

In [ ]:
## add formatting

In [ ]:
## store the updated values

In [ ]:
## call CEO salaries

## 4. List Comprehension

In [ ]:
## run this list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
## use a FOR LOOP (FL) to create a list that holds the numbers times 10

In [ ]:
## use list comprehension (LC) to create a list that holds the numbers times 10

## the zen of python

In [ ]:
import this

In [ ]:
## assign x the value 2

In [ ]:
## check for equality of 2

In [ ]:
## check for equality of 3

## Modulo Operator

The ```%``` is also known as the ```modulo operator``` in Python.

The expression ```10 % 2``` means if you devide 10 by 2, what is the remainder?

In [ ]:
### try it

In [ ]:
## try 13 divided by 2

In [ ]:
## call our number list again

In [ ]:
## use LC to create a list that holds only the even numbers

In [ ]:
## use LC to create a list that holds only the odd numbers

In [ ]:
## use LC to expresss as True or False

## 5. For Loops through multiple but related lists

When we scrape data from a website, we pull down various data points (income, name, location, id code, etc.) and store each into its own separate list.

A final step is to always group data points from each observation together. For example:

- "Sandeep Junnarkar"
- "Professor"
- "Male"
- "CUNY"

### Two ways to ```zip()``` these lists together

But first let's explore the zip function:

In [ ]:
##  RUN THIS CELL - 
## Here we have a list of CEOs and their relevant data points.
first_names = ["Irene", "Ursula", "Elon", "Tim"]
last_names = ["Rosenfeld", "Burns", "Musk", "Cook"]
titles = ["Chairman and CEO", "Chairman and CEO", "CEO", "CEO"]
companies = ["Kraft Foods", "Xerox", "Tesla", "Apple"]
industries = ["Food and Beverage", "Process and Document Management", "Auto Manufacturing", "Consumer Technology"]

In [ ]:
## with zip
## also print what each type of data is.

### Method 1 – Zip lists into dictionaries

In [ ]:
## declare empty list and for loop zip

In [ ]:
## call the method_1 list

## List of Dictionaries to Dataframes

Recall that a list of dictionaries are like columns and rows in a csv

In [ ]:
## import pandas

import pandas as pd

In [ ]:
## Turn list into a dataframe

In [ ]:
## export as csv

### One more datatype: ```tuple```:

- Create a ```tuple``` by using parentheses.
- It's just like a list but can not be changed once it is assigned a value(s).
- You can call items in a ```tuple``` using slicing.

In [ ]:
## create a tuple

In [ ]:
## call the tuple

In [ ]:
## confirm data type

In [ ]:
## call the first item in our tuple

In [ ]:
## append a grade of 100 to the grades tuple
## this will break

In [ ]:
## only way to add to a tuple is to create a new tuple
## append a grade of 100 to the grades tuple

I don't use ```tuples``` too often except in one situation – they provide a shortcut to turning items in a list into a dataframe.

## Method 2 – Zip into tuple

In [ ]:
## recall we named each item in the for

for (f_name, l_name, title, co, sector) in zip(first_names, last_names, titles, companies, industries):
  print(f"{f_name} {l_name}; {title}, {co}, {sector}")

In [ ]:
## zip it and print

In [ ]:
## we need to store into a list called method_2

In [ ]:
## call method 2

In [ ]:
## what type of data set does this list hold?

In [ ]:
## export to a pandas dataframe

## name the columns

In [ ]:
## export to a csv