# Week 2 - Iterating through data

# 1. ```for loops```... a data journalist's favorite Python expression</center>

We use it to **iterate** over:
* data stored in a list and run some calculation on each value;
* a list of URLs and visit each site to scrape data;
* data stored in dictionary keys and values and return what you are looking for.

In [1]:
## run this list
fav_animals = ["cats", "dogs", "birds", "snakes", "horses"]

In [3]:
##call the temporary variable
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [6]:
## name dog lucy

In [7]:
## upper case the previous variable 
## you can target an individual item

'LUCY'

In [8]:
## upper case and print each animal in our list
## this will break

AttributeError: 'list' object has no attribute 'upper'

In [9]:
## use a for loop to upper case each animal and print it
for fav_animal in fav_animals:
    print(fav_animal.upper())

CATS
DOGS
BIRDS
SNAKES
HORSES

In [11]:
## did our list change? Call the fav_animals list
fav_animals

['cats', 'dogs', 'birds', 'snakes', 'horses']

In [17]:
## We save our iterated data by adding to an empty list
upper_animals = [] #initializing an empty list
for fav_animal in fav_animals:
    upper_animals.append(fav_animal.upper())
    print(upper_animals)
    print("***********")
print("Done")

['CATS']
***********
['CATS', 'DOGS']
***********
['CATS', 'DOGS', 'BIRDS']
***********
['CATS', 'DOGS', 'BIRDS', 'SNAKES']
***********
['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']
***********
Done

In [16]:
upper_animals

['CATS', 'DOGS', 'BIRDS', 'SNAKES', 'HORSES']

Let's take **For Loops** for test drive:

In [18]:
## RUN THIS CELL - Use this list of CEO salaries from 1985 
ceo_salaries_1985 = [150_000, 201_000, 110_000, 75_000, 92_000, 55_000]

In [19]:
ceo_salaries_1985

[150000, 201000, 110000, 75000, 92000, 55000]

In [29]:
## Print each salary with in the following format:
## "A CEO earned [some value] in 1985."
for ceo_salary in ceo_salaries_1985:
    print(f"A CEO earned ${ceo_salary:,} in 1985.")

A CEO earned $150,000 in 1985.
A CEO earned $201,000 in 1985.
A CEO earned $110,000 in 1985.
A CEO earned $75,000 in 1985.
A CEO earned $92,000 in 1985.
A CEO earned $55,000 in 1985.

In [35]:
## Now update each salary to 2019 dollars.
## Print the following info:
## "A CEO's salary of [1985 salary] in 1985 is worth [updated salary] in 2019 dollars."
## The CPI for 1985 is 107.6
## The 2019 CPI is 255.657
## The formula is: updated_salary = (oldSalary/oldCPI) * currentCPI
## add formatting
CPI_1985 = 107.6
CPI_2019 = 255.657
for ceo_salary in ceo_salaries_1985:
    print(f"A CEO earned ${ceo_salary * CPI_2019/CPI_1985:,.0F} in 2019.")

A CEO earned $356,399 in 2019.
A CEO earned $477,575 in 2019.
A CEO earned $261,359 in 2019.
A CEO earned $178,200 in 2019.
A CEO earned $218,591 in 2019.
A CEO earned $130,680 in 2019.

In [36]:
## store the updated values
ceo_salaries_2019 = []
for ceo_salary in ceo_salaries_1985:
    ceo_salaries_2019.append(ceo_salary* CPI_2019/CPI_1985)

In [39]:
## call updated ceo salaries
ceo_salaries_2019

[356399.16356877325,
 477574.8791821562,
 261359.3866171004,
 178199.58178438662,
 218591.4869888476,
 130679.6933085502]

## 2. Conditional Statements

In [48]:
## create a list of 10 random numbers anywhere from -100 to 100 
##name the list numbers

import random
numbers = random.sample(range(-100, 101), 10)
numbers

[61, 41, 20, -96, -67, -26, 24, -55, -15, 66]

Create conditional statements that tell us if the last number and the penultimate number are positive or negative.
Print a sentence that reads:
```
"The last number [what is it?] is [positive or negative] while 
 the penultimate number [what is it?] is [negative or positive]."
```

In [50]:
## code it here
## if else statements
if numbers[-2] > 0:
    pen_status = "positive"
elif numbers [-2] == 0:
    pen_status = "Zero"
else:
    pen_status = "negative"
if numbers[-1] > 0:
    last_status = "positive"
elif numbers [-1] == 0:
    last_status = "Zero"
else:
    last_status = "negative"
print(f"The last number {numbers[-1]} is {last_status} while \
the penultimate number {numbers[-2]} is {pen_status}.")

The last number 66 is positive while the penultimate number -15 is negative.

## 3. Tenary Expression
```variable = value1 if some_condition else value2```

In [69]:
## Use the same data in the previous conditional and print out the same results using a tenary expression.
pen_status = "positive" if numbers[-2] > 0 else "negative"

In [70]:
pen_status

'negative'

## the zen of python

## Modulo Operator

The ```%``` is also known as the ```modulo operator``` in Python.

The expression ```10 % 2``` means if you devide 10 by 2, what is the remainder?

In [54]:
### try it
10 % 2

0

In [55]:
## try 13 divided by 2
13 % 2

1

In [56]:
## assign x the value 2
x = 2

In [59]:
## check for equality of 2
x == 2

True

In [60]:
## check for equality of 3
x==3

False

In [66]:
sentence = "This August and September have been really hot"
sentence

'This August and September have been really hot'

In [68]:
"hot" in sentence #podemos usarlo en scrapping

True

In [71]:
"October" in sentence

False

In [74]:
"september" in sentence #da falso porque está en mayúscula en el texto

False

## 4. List Comprehension

In [75]:
## run this list
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
## use a FOR LOOP (FL) to create a list that holds the numbers times 10
x10 = []
for number in numbers:
    x10.append(number*10)

In [77]:
x10

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [80]:
## use list comprehension (LC) to create a list that holds the numbers times 10
## use list comprehension (LC) to create a list that holds the numbers times 10
y10 = [number * 10 for number in numbers]

In [81]:
y10

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [87]:
## use LC to create a list that holds only the even numbers 
even = []
for number in numbers:
    temp_number = number * 3
    if temp_number % 2 == 0:
        even.append(temp_number)
even

[0, 6, 12, 18, 24, 30]

In [88]:
## use LC to create a list that holds only the odd numbers 
odds = []
for number in numbers:
    temp_number = number * 3
    if temp_number % 2 == 1:
        odds.append(temp_number)
odds

[3, 9, 15, 21, 27]

In [98]:
## use LC to create a list that holds only the even numbers 
even_LC = [number * 3 for number in numbers if (number * 3) % 2 == 0]
even_LC

[0, 6, 12, 18, 24, 30]

In [99]:
## use LC to create a list that holds only the odd numbers 
odds_LC = [number * 3 for number in numbers if (number * 3) % 2 != 0]
odds_LC

[3, 9, 15, 21, 27]

## 5. For Loops through multiple but related lists

When we scrape data from a website, we pull down various data points (income, name, location, id code, etc.) and store each into its own separate list.

A final step is to always group data points from each observation together. For example:

- "Sandeep Junnarkar"
- "Professor"
- "Male"
- "CUNY"

### Two ways to ```zip()``` these lists together

But first let's explore the zip function:

In [100]:
##  RUN THIS CELL - 
## Here we have a list of CEOs and their relevant data points.
first_names = ["Irene", "Ursula", "Elon", "Tim"]
last_names = ["Rosenfeld", "Burns", "Musk", "Cook"]
titles = ["Chairman and CEO", "Chairman and CEO", "CEO", "CEO"]
companies = ["Kraft Foods", "Xerox", "Tesla", "Apple"]
industries = ["Food and Beverage", "Process and Document Management", "Auto Manufacturing", "Consumer Technology"]

In [115]:
## with zip
## also print what each type of data is.
for (first_name, last_name, title, company, industry) in\
zip (first_names, last_names, titles, companies, industries): 
    print(f"{first_name} {last_name} : {title}, {company}, {industry}")

Irene Rosenfeld : Chairman and CEO, Kraft Foods, Food and Beverage
Ursula Burns : Chairman and CEO, Xerox, Process and Document Management
Elon Musk : CEO, Tesla, Auto Manufacturing
Tim Cook : CEO, Apple, Consumer Technology

### Method 1 – Zip lists into dictionaries

In [119]:
## declare empty list and for loop zip
method_1 = []
for (first_name, last_name, title, company, industry) in\
zip (first_names, last_names, titles, companies, industries): 
    method_1.append(
        {"first name" : first_name,
         "last name" : last_name,
         "title" : title,
         "company" : company,
         "industry" : industry})

In [121]:
## call the method_1 list
method_1

[{'first name': 'Irene',
  'last name': 'Rosenfeld',
  'title': 'Chairman and CEO',
  'company': 'Kraft Foods',
  'industry': 'Food and Beverage'},
 {'first name': 'Ursula',
  'last name': 'Burns',
  'title': 'Chairman and CEO',
  'company': 'Xerox',
  'industry': 'Process and Document Management'},
 {'first name': 'Elon',
  'last name': 'Musk',
  'title': 'CEO',
  'company': 'Tesla',
  'industry': 'Auto Manufacturing'},
 {'first name': 'Tim',
  'last name': 'Cook',
  'title': 'CEO',
  'company': 'Apple',
  'industry': 'Consumer Technology'}]

## List of Dictionaries to Dataframes

Recall that a list of dictionaries are like columns and rows in a csv

In [130]:
## import pandas

import pandas as pd

In [133]:
## Turn list into a dataframe
df = pd.DataFrame(method_1)

In [134]:
df

,first name,last name,title,company,industry
0,Irene,Rosenfeld,Chairman and CEO,Kraft Foods,Food and Beverage
1,Ursula,Burns,Chairman and CEO,Xerox,Process and Document Management
2,Elon,Musk,CEO,Tesla,Auto Manufacturing
3,Tim,Cook,CEO,Apple,Consumer Technology

In [135]:
## export as csv
df.to_csv("method_1.csv", encoding = "UTF-8", index = False)

### One more datatype: ```tuple```:

- Create a ```tuple``` by using parentheses.
- It's just like a list but can not be changed once it is assigned a value(s).
- You can call items in a ```tuple``` using slicing.

In [136]:
## create a tuple
grades = (95, 25, 30)

In [137]:
## call the tuple
grades

(95, 25, 30)

In [138]:
## confirm data type
type(grades)

tuple

In [143]:
## call the first item in our tuple
grades[0]

95

In [145]:
## append a grade of 100 to the grades tuple
## this will break
grades.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [150]:
## only way to add to a tuple is to create a new tuple
## append a grade of 100 to the grades tuple
updated_grades = grades + (100,)
updated_grades

(95, 25, 30, 100)

I don't use ```tuples``` too often except in one situation – they provide a shortcut to turning items in a list into a dataframe.

## Method 2 – Zip into tuple

In [152]:
## recall we named each item in the for
for item in zip (first_names, last_names, titles, companies, industries):
    print(item)

('Irene', 'Rosenfeld', 'Chairman and CEO', 'Kraft Foods', 'Food and Beverage')
('Ursula', 'Burns', 'Chairman and CEO', 'Xerox', 'Process and Document Management')
('Elon', 'Musk', 'CEO', 'Tesla', 'Auto Manufacturing')
('Tim', 'Cook', 'CEO', 'Apple', 'Consumer Technology')

In [153]:
## zip it and print
method_2 = []
for item in zip (first_names, last_names, titles, companies, industries):
    method_2.append(item)

In [154]:
## we need to store into a list called method_2
method_2

[('Irene',
  'Rosenfeld',
  'Chairman and CEO',
  'Kraft Foods',
  'Food and Beverage'),
 ('Ursula',
  'Burns',
  'Chairman and CEO',
  'Xerox',
  'Process and Document Management'),
 ('Elon', 'Musk', 'CEO', 'Tesla', 'Auto Manufacturing'),
 ('Tim', 'Cook', 'CEO', 'Apple', 'Consumer Technology')]

In [ ]:
## call method 2

In [155]:
type(method_2)

list

In [158]:
type(method_2[0]) #Es una lista de tuples. No puedo agregar cosas a un tuple, pero puedo agregar tuples a una lista.

tuple

In [169]:
## what type of data set does this list hold?
df2 = pd.DataFrame(method_2)
df2.columns = ["first name", "last name", "title", "Company", "Industry"]

In [170]:
df2

,first name,last name,title,Company,Industry
0,Irene,Rosenfeld,Chairman and CEO,Kraft Foods,Food and Beverage
1,Ursula,Burns,Chairman and CEO,Xerox,Process and Document Management
2,Elon,Musk,CEO,Tesla,Auto Manufacturing
3,Tim,Cook,CEO,Apple,Consumer Technology

In [171]:
## export to a pandas dataframe
## export to a pandas dataframe
df2.to_csv("method_2.csv", encoding = "UTF-8", index = False)

In [ ]:
## export to a csv
## export to a csv